@font-face {
    font-family: pixelArt;
    src: url("assets/DisposableDroidBB.ttf");
}

body {
  font-family: pixelArt;
  background-color: black;
  background-size: 720px;
  background-image: url("assets/stars.gif");
}

.icon-box {
  margin-top: 3%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.5rem;
}

/* Links */
.icon-box a {
  color: #0d0e47;
  transition: color 0.3s ease;
}

.icon-box a:hover {
  color: #f39c12;
}

/* Linha de ícones */
.icons-row {
  margin-top: 20px;
}

/* Ícones */
.icon-box i:hover {
  color: #1d1b19;
  transform: scale(1.2);
}

.icon-box i {
  transition: transform 0.3s, color 0.3s;
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .icon-box i {
    font-size: 2.5em;
  }
}

/* Controle da grid para 4 por linha no Bootstrap */

/* Para xs (telas muito pequenas) 2 por linha */
.col-xs-6 {
    width: 50%;
    float: left;
}

/* Para sm e md (telas pequenas e médias) 4 por linha */
@media (min-width: 576px) {
    .col-sm-3 {
        width: 25%;
        float: left;
    }
}

/* Para telas grandes mantém 4 por linha */
@media (min-width: 992px) {
    .col-lg-3 {
        width: 25%;
        float: left;
    }
}

/* Ajustes adicionais */

.p {
  font-size: 16px;
}

.text-special {
  font-size: 25px;
  font-style: italic;
}

.fab {
    color: #646363;
}

h2 {
  color: #504d4d;
}

.container-fluid {
  border-style: dashed;
  color: #646363;
  background-color: white;
  padding: 1.5%;
  border-radius: 5px;
  margin-top: 6%;
  margin-bottom: -6%;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 40%;
}

.avatar {
  border-radius: 50%;
  border-width: 2.7px;
  border-style: dashed;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20%;
}

@media screen and (max-device-width: 840px) {
    .text-special {
      font-size: 32px;
      font-style: italic;
    }

    h4 {
      font-size: 30px;
    }
    h2 {
      font-size: 35px;
    }
    h1 {
      font-size: 40px;
    }
    .avatar {
      border-width: 8px;
      width: 250px;
      height: 250px;
    }
    .container-fluid {
      border-width: 8px;
      margin-top: 10%;
      margin-bottom: -5%;
      width: 70%;
      font-size: 25px;
    }
}
