body {
  background-image: url("http://36.media.tumblr.com/b7b3cf31fdc336779e0a01cd5be59c2c/tumblr_npx0mbDqQr1utlqpzo1_500.jpg");
  font-family: 'Lato', sans-serif;
}

h2 { 
  color: #504d4d;
}

.page-description {
  color: #646363;
  background-color: white;
  margin: 370px;
  text-align: center;
  padding: 100px;
  border-radius: 5px;
  margin-top: 150px;
}

.fotis {
  border-radius: 50%;
  box-shadow: 2px 4px 10px #000;
  display: block;
  position: absolute;
  left: 575px;
  margin-top: -110px;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}